uploader.json
[
    {
        "id": "931fc66e047477c0",
        "type": "tab",
        "label": "uploader",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b390ecb82aef0e3",
        "type": "tab",
        "label": "Consumer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53c326cf552a5889",
        "type": "tab",
        "label": "Direct Message",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0af3aa3bb02a3884",
        "type": "tab",
        "label": "Headers Exchange",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bfb1e7e97eef5e04",
        "type": "amqp-broker",
        "name": "AMQP Config",
        "host": "rabbitmq",
        "port": "5672",
        "vhost": "",
        "tls": false,
        "credsFromSettings": false
    },
    {
        "id": "83e9bf71fbe099c8",
        "type": "amqp-broker",
        "name": "",
        "host": "rabbitmq",
        "port": "5672",
        "vhost": "",
        "tls": false,
        "credsFromSettings": false
    },
    {
        "id": "7a7f803fe40b5d6a",
        "type": "cloudantplus",
        "host": "http://couchdb:5984",
        "name": "insert docu,emt",
        "useapikey": false
    },
    {
        "id": "7c30fb48.99cd2c",
        "type": "http in",
        "z": "931fc66e047477c0",
        "name": "",
        "url": "/simple",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "3153fbd3.203a64"
            ]
        ]
    },
    {
        "id": "3153fbd3.203a64",
        "type": "template",
        "z": "931fc66e047477c0",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Upload a file here:</h1>\n\n<form action=\"/upload\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>",
        "output": "str",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "737e44d2.373a64"
            ]
        ]
    },
    {
        "id": "737e44d2.373a64",
        "type": "http response",
        "z": "931fc66e047477c0",
        "name": "",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "46e01eea.4a46a",
        "type": "comment",
        "z": "931fc66e047477c0",
        "name": "Simple",
        "info": "",
        "x": 210,
        "y": 220,
        "wires": []
    },
    {
        "id": "7d8e179a.283e4",
        "type": "http response",
        "z": "931fc66e047477c0",
        "name": "",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "25859a94.7d9976",
        "type": "http in",
        "z": "931fc66e047477c0",
        "name": "",
        "url": "/upload",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "d7e5df8b.97a4e8"
            ]
        ]
    },
    {
        "id": "e1643981.20d7c8",
        "type": "template",
        "z": "931fc66e047477c0",
        "name": "html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<p></p>File {{name}} uploaded !</p>\n\n<h2>Contents:</h2>\n\n<pre>\n{{{payload}}}\n</pre>",
        "output": "str",
        "x": 570,
        "y": 320,
        "wires": [
            [
                "7d8e179a.283e4"
            ]
        ]
    },
    {
        "id": "d7e5df8b.97a4e8",
        "type": "function",
        "z": "931fc66e047477c0",
        "name": "toBase64",
        "func": "//let msg1={}\nlet msg2={}\nmsg.name = msg.req.files[0].originalname;\n//msg2.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.payload = \"Файл не зображення, тому не може бути відображено\";\n}\nmsg2.payload={\n    content: msg.req.files[0].buffer.toString('base64'),\n    \"name\":msg.req.files[0].originalname,\n    \"content_type\": msg.req.files[0].mimetype\n};\n//content: msg.req.files[0].buffer.toString(),\nreturn [msg, msg2];\n\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "e1643981.20d7c8"
            ],
            [
                "a31faebdf78b9a28",
                "974df30b16e04554"
            ]
        ]
    },
    {
        "id": "da960ababab4ac73",
        "type": "comment",
        "z": "931fc66e047477c0",
        "name": "File Uploader",
        "info": "# Description\nFile Uploader simple Example",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "a31faebdf78b9a28",
        "type": "debug",
        "z": "931fc66e047477c0",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "974df30b16e04554",
        "type": "amqp-out",
        "z": "931fc66e047477c0",
        "name": "",
        "broker": "bfb1e7e97eef5e04",
        "reconnectOnError": false,
        "exchangeName": "amq.direct",
        "exchangeType": "direct",
        "exchangeRoutingKey": "doc_queue",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": true,
        "amqpProperties": "{\"correlationId\":\"1111-2222-3333\",\"headers\":{\"appid\":\"Node-Red-FileUploader\"}}",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "d09c9df15090a01a",
        "type": "amqp-in",
        "z": "1b390ecb82aef0e3",
        "name": "",
        "broker": "bfb1e7e97eef5e04",
        "prefetch": 0,
        "reconnectOnError": false,
        "noAck": true,
        "exchangeName": "amq.direct",
        "exchangeType": "direct",
        "exchangeRoutingKey": "doc_queue",
        "exchangeDurable": true,
        "queueName": "",
        "queueType": "classic",
        "queueExclusive": false,
        "queueDurable": true,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "dce6a8c1ccbb1a9d",
                "af2dd38c468f429f"
            ]
        ]
    },
    {
        "id": "dce6a8c1ccbb1a9d",
        "type": "debug",
        "z": "1b390ecb82aef0e3",
        "name": "CunsumeDBG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 160,
        "wires": []
    },
    {
        "id": "af2dd38c468f429f",
        "type": "function",
        "z": "1b390ecb82aef0e3",
        "name": "PrepareFile",
        "func": "let msgo={}\n//msgo.payload = msg.payload.content\n//msgo.filename = msg.payload.name\n\n//msgo.payload = {   \n//    \"name\": msg.payload.name,\n//    \"_attachments\": {       \n//        \"attachment.jpeg\": {\n//            \"content_type\": msg.payload.content_type,\n//            \"data\": msg.payload.content\n//        } \n//    }  \n//}     \n\nlet attach = {\n            \"content_type\": msg.payload.content_type,\n            \"data\": msg.payload.content\n} \n\nlet attachitem={}\nattachitem[ msg.payload.name ]=attach\n\nmsgo.payload = {   \n    \"name\": msg.payload.name,\n    \"_attachments\": attachitem\n}    \n\n\n\nreturn msgo;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 280,
        "wires": [
            [
                "3feb19c7526d4b3f",
                "371d8c9d2ce2f976"
            ]
        ]
    },
    {
        "id": "371d8c9d2ce2f976",
        "type": "debug",
        "z": "1b390ecb82aef0e3",
        "name": "FileWrtDBG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "3feb19c7526d4b3f",
        "type": "cloudantplus out",
        "z": "1b390ecb82aef0e3",
        "name": "store-file",
        "cloudant": "7a7f803fe40b5d6a",
        "database": "ufiles",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 720,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "efe7a260307e6202",
        "type": "amqp-out",
        "z": "53c326cf552a5889",
        "name": "",
        "broker": "bfb1e7e97eef5e04",
        "reconnectOnError": true,
        "exchangeName": "irrigation_control",
        "exchangeType": "direct",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": true,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "538de33f548833ac",
        "type": "inject",
        "z": "53c326cf552a5889",
        "name": "Send command to zone 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "routingKey",
                "v": "zone1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"command\": \"start\" }",
        "payloadType": "json",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "efe7a260307e6202"
            ]
        ]
    },
    {
        "id": "20cfe04fab562ea9",
        "type": "inject",
        "z": "53c326cf552a5889",
        "name": "Send command to zone 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "routingKey",
                "v": "zone2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"command\": \"stop\" }",
        "payloadType": "str",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "efe7a260307e6202"
            ]
        ]
    },
    {
        "id": "7a5e0f3a66dc1ccc",
        "type": "amqp-in",
        "z": "53c326cf552a5889",
        "name": "",
        "broker": "bfb1e7e97eef5e04",
        "prefetch": 0,
        "reconnectOnError": true,
        "noAck": true,
        "exchangeName": "irrigation_control",
        "exchangeType": "direct",
        "exchangeRoutingKey": "zone1",
        "exchangeDurable": true,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 350,
        "y": 420,
        "wires": [
            [
                "63c5671d6f4efd07"
            ]
        ]
    },
    {
        "id": "4bf1b44b656c35c2",
        "type": "amqp-in",
        "z": "53c326cf552a5889",
        "name": "",
        "broker": "bfb1e7e97eef5e04",
        "prefetch": 0,
        "reconnectOnError": true,
        "noAck": true,
        "exchangeName": "irrigation_control",
        "exchangeType": "direct",
        "exchangeRoutingKey": "zone2",
        "exchangeDurable": true,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "e7d4fabe9ef668fe"
            ]
        ]
    },
    {
        "id": "63c5671d6f4efd07",
        "type": "debug",
        "z": "53c326cf552a5889",
        "name": "Zone 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "e7d4fabe9ef668fe",
        "type": "debug",
        "z": "53c326cf552a5889",
        "name": "Zone 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 500,
        "wires": []
    },
    {
        "id": "12c8048f.4eaefb",
        "type": "amqp-in",
        "z": "0af3aa3bb02a3884",
        "name": "",
        "broker": "83e9bf71fbe099c8",
        "prefetch": 0,
        "reconnectOnError": true,
        "noAck": true,
        "exchangeName": "machines_update",
        "exchangeType": "headers",
        "exchangeRoutingKey": "",
        "exchangeDurable": false,
        "queueName": "",
        "queueType": "quorum",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{\"x-match\":\"all\",\"machine-type\":\"CNC\",\"status\":\"error\",\"priority\":\"high\"}",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "8ec3fa87.70c338"
            ]
        ]
    },
    {
        "id": "6eccc4f.c6a2a3c",
        "type": "amqp-out",
        "z": "0af3aa3bb02a3884",
        "name": "",
        "broker": "83e9bf71fbe099c8",
        "reconnectOnError": true,
        "exchangeName": "machines_update",
        "exchangeType": "headers",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{}",
        "rpcTimeoutMilliseconds": "",
        "outputs": 0,
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "cb5093bf.1d524",
        "type": "inject",
        "z": "0af3aa3bb02a3884",
        "name": "CNC machine: error occured",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "properties",
                "v": "{\"headers\":{\"machine-type\":\"CNC\",\"status\":\"error\",\"priority\":\"high\"}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Errror occured in the CNC machine",
        "payloadType": "str",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "6eccc4f.c6a2a3c"
            ]
        ]
    },
    {
        "id": "8ec3fa87.70c338",
        "type": "debug",
        "z": "0af3aa3bb02a3884",
        "name": "Only from CNC machines that has status error and priority high",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "d4c2f84b51d2d3cb",
        "type": "amqp-out",
        "z": "0af3aa3bb02a3884",
        "name": "",
        "broker": "83e9bf71fbe099c8",
        "reconnectOnError": true,
        "exchangeName": "machines_update",
        "exchangeType": "headers",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": false,
        "amqpProperties": "{}",
        "rpcTimeoutMilliseconds": "",
        "outputs": 0,
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "81c21e9941e06a58",
        "type": "inject",
        "z": "0af3aa3bb02a3884",
        "name": "Update from Machine A",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "properties",
                "v": "{\"headers\":{\"machine-type\":\"A\",\"status\":\"idle\",\"priority\":\"high\"}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Machine A is currently idle, awaiting next operation.",
        "payloadType": "str",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "d4c2f84b51d2d3cb"
            ]
        ]
    },
    {
        "id": "abe55aafb5f65eac",
        "type": "debug",
        "z": "0af3aa3bb02a3884",
        "name": "From all of the machines having  status idle or priority high",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 540,
        "wires": []
    },
    {
        "id": "adfcaa95122a3556",
        "type": "amqp-in",
        "z": "0af3aa3bb02a3884",
        "name": "",
        "broker": "83e9bf71fbe099c8",
        "prefetch": 0,
        "reconnectOnError": true,
        "noAck": true,
        "exchangeName": "machines_update",
        "exchangeType": "headers",
        "exchangeRoutingKey": "",
        "exchangeDurable": false,
        "queueName": "",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{\"x-match\":\"any\",\"machine-type\":\"A\",\"status\":\"idle\",\"priority\":\"high\"}",
        "x": 310,
        "y": 540,
        "wires": [
            [
                "abe55aafb5f65eac"
            ]
        ]
    }
]